<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.projectakhir">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logokuy"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logokuy"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:node="replace">
        <activity android:name=".Activity.SpalshActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.SettingActivity" />
        <activity android:name=".Activity.MainActivity">
        </activity>
    </application>

</manifest>